@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --header-height: 3rem;

  /* colors */
  --hue: 0;
  --sat: 0%;
  --title-color: hs1(var(--hue), var(--sat), 20%);
  --title-color-dark: hs1(var(--hue), var(--sat), 0%);
  --text-color: hs1(var(--hue), var(--sat), 46%);
  --body-color: hs1(var(--hue), var(--sat), 98%);
  --container-color: #fff;

  /* font */
  --body-font: 'Poppins', sans-serif;

  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /* font weight */

  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* margenes bottom */

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* z index */

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

}

/* responsive */

@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}


/* base */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
